body {
    background-image: url("https://th.bing.com/th/id/OIP.znQnb85d5Hrt6QWtHyFVBQHaEK?rs=1&pid=ImgDetMain");
    background-repeat: no-repeat;
    position: center;
    background-size: cover;
}

.r3 {
    width: 100%;
    height: 33.3%;
}

.c4 {
    width: 25%;
    position: relative;
    float: left;
}

.Titel {
    text-align: center;
    font-size: 2.5em;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Pixelify Sans", sans-serif;
    -webkit-text-stroke-color: pink;
    -webkit-text-stroke-width: 0.125px;
}

.Infos {
    text-align: center;
    font-size: 1.5em;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Pixelify Sans", sans-serif;
}

.Join {
    text-align: center;
    font-size: 1.5em;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Pixelify Sans", sans-serif;

}

footer {
    text-align: center;
    font-size: 1.5em;
    color: blue;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: white;
    font-family: "Pixelify Sans", sans-serif;
    -webkit-text-stroke-color: orange;
    -webkit-text-stroke-width: 0.125px;
}

.Home {
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: white;
    font-family: "Pixelify Sans", sans-serif;
}