.Align {
    max-width: 100%;
    text-align: center;
    background-color: black;
}

.infogrid {
    display: grid;
    grid-template-columns:         repeat(auto-fill, minmax(500px, 1fr));
}

.infoElement {
    border: 2px solid pink;
    padding: 3%;
}

img {
    max-width: 250px;
    max-height: 300px;
    margin: 10px;
}