.Align {
    max-width: 100%;
    text-align: center;
    background-color: black;
}

.infogrid {
    display: grid;
    grid-template-columns:         repeat(auto-fill, minmax(500px, 1fr));
}

.infoElement {
    border: 2px solid pink;
    padding: 3%;
}

img {
    max-width: 250px;
    max-height: 300px;
    margin: 10px;
}

.img {
    max-width: 275px;
    max-height: 325px;
    margin: 12.5px;
}

.Info1 {
    text-align: center;
    font-size: 1.5em;
    color: aquamarine;
    font-weight: bold;
    font-style: italic;
    font-family: "Pixelify Sans", sans-serif;
}

.Join1 {
    text-align: center;
    font-size: 1.5em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    font-family: "Pixelify Sans", sans-serif;
}

.Join2 {
    text-align: center;
    font-size: 1.5m;
    color: green;
    font-weight: bold;
    font-style: italic;
    font-family: "Pixelify Sans", sans-serif;
}

.Join3 {
    text-align: center;
    font-size: 1.5m;
    color: red;
    font-weight: bold;
    font-style: italic;
    font-family: "Pixelify Sans", sans-serif;
}

.Join4 {
    text-align: center;
    font-size: 1.5m;
    color: orange;
    font-weight: bold;
    font-style: italic;
    font-family: "Pixelify Sans", sans-serif;
}
